*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	width: 100%;
	height: 100%;
	font: "微软雅黑" "黑体";
	color: #333;
	background: url(../img/topbg.png) repeat-x;
}
.header{
	width: 1170px;
	margin: 0 auto;
	height: 145px;
	position: relative;
}

.logo{
	width:272px;
	height: 85px;
	position: absolute;
	top:62px;
	display: block;
}
.top{
	color: #004ea2;
	width: 70%;
	height: 135px;
	float: right;
}
.top-menu {
	width: 795px;
	height: 85px;
	margin-top:60px;
	float: left;
	font-size: 16px;
	display: inline-block;
	position: relative;
}
.top-menu li{
	float: left;
	margin: 0 20px;
	padding: 0 3px;
	position: relative;
}
.top-menu li a{
	width: 100%;
	text-align: center;
	color: #555;
	float: left;
	display: inline-block;
	line-height: 75px;
	height: 85px;
}
.divt{
	width: 450px;
	position: absolute;
	top: 8px;
	right: 0;
	display: block;
}
form .search{
	background: #074b92;
	color: #fff;
	border:1px solid #194d84;
	padding-left: 12px;
	width: 150px;
	height: 20px;
	line-height: 20px;
	display: block;
	font-size: 12px;
	float: left;
}
form input{
	border: none;
	margin-top: 2px;
	width: 100px;
	display: block;
	float: left;
	color: #97c7fa;
	background: #074B92;
	outline: none;
}
form i{
	width: 21px;
	height: 21px;
	float: right;
	margin-top: -2px;
	display: block;
	background:url(../img/images.png) -280px 0 no-repeat;
}
.language{
	width: 90px;
	height: 20px;
	float: left;
	margin-left:27px;
	display: block;
	color: #fff;
	font-size: 12px;
	position: relative;
}
.inputure{
	width: 50px;
	height: 20px;
	line-height: 20px;
	display: block;
	float: left;
	text-align: center;
	border: none;
}
.al{
	display: inline-block;
	width: 25px;
	height: 25px;
	float: left;
	background: url(../img/images.png) -280px -30px no-repeat;
	cursor: pointer;
}
.arr{
	position: absolute;
	cursor: pointer;
	display: inline-block;
	width: 14px;
	height: 9px;
	background: url(../img/images.png) -410px 0 no-repeat;
	top: 10px;
	right: 0px;
}
.email{
	width: 76px;
	float: right;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	color: #fff;
}
.email a{
	color: #fff;
}
.wrapper{
	width: 100%;
	margin: 0 auto;
	max-height: 350px;
}
.wrapper img{
	width: 100%;
	max-width: 100%;
}
.main{
	width: 1175px;
	margin: 0 auto;
}
.main .left{
	width: 22%;
	float: left;
	min-height: 630px;
	min-width: 260px;
	position: relative;
}
.main .right{
	width: 70%;
	float: right;
	margin-top: 30px;
	background: #fff;
	margin-bottom: 50px;
	min-height: 700px;
}
.main .left .top1{
	width: 100%;
	height: 192px;
	background: #004EA2;
	border: 4px solid #004EA2;
	position: absolute;
	top: -70px;
	
}
.main .left .top1 h1{
	width: 70%;
	margin: 0 auto;
	line-height: 1;
	font-size: 30px;
	color: #fff;
	margin-top: 70px;
	text-align: center;
	
}
.main .left .top1 h2{
	width: 70%;
	margin: 0 auto;
	line-height: 1;
	font-size: 14px;
	color: #a3b5d4;
	margin-top: 20px;
	text-align: center;
}
.box{
	width: 100%;
	border: 4px solid #eaeaea;
	min-height: 100px;
	padding-bottom: 50px;
	position: absolute;
	top: 130px;
	border-top:none;
}
.box li{
	width: 100%;
	font-weight: bold;
	line-height: 35px;
	margin: 10px 0;
	font-size: 20px;
	color: #666;
	text-align: center;
	display: inline-block;
	background:#fff;
	height: auto;
}
.box li a{
	color: #000;
}
.box li:nth-child(3){
	color: #004EA2;
	font-weight:bold;
	background: url(../img/images.png) 15px -397px no-repeat;
}
.right{
	width: 70%;
	float: right;
	margin-top: 30px;
	background: #fff;
	min-height:700px;
	margin-bottom: 50px;
}
.crumb{
	width: 96%;
	margin: 0 auto;
	text-align: right;
	height: 74px;
	line-height:74px;
	display: inline-block;
	font-size: 16px;
	color: #333;
	border-bottom: 1px solid #e6e6e6;
}
.crumb a{
	color: #333;
}
.toptittle{
	width: 100%;
	min-height:80px;
	max-height:180px;
	font-size: 24px;
	font-weight: bold;
}
.toptittle h1{
	width: 80%;
	margin: 0 auto;
	text-align: center;
	line-height: 2;
	font-size: 28px;
	margin-top: 50px;
	color: #000;
	letter-spacing: 2px;
}